body {
  background-color: rgb(206, 203, 203);
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
#title {
  height: 100px;
}

#img-div {
  align-content: center;
  flex-basis: auto;
  height: 400px;
}
#img-caption {
  align-items: center;
}
#tribute-info {
  height: 500px;
}
