body {
  background-color: rgb(206, 203, 203);
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}
#title {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#img-div {
  margin-bottom: 20px;
  text-align: center;
}
#img-caption {
  align-items: center;
  margin-bottom: 50px;
}
#tribute-info {
  text-align: center;
}
