body {
  background-color: white;
  padding-bottom: 40px;
}
#main {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  background-color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: bolder;
  width: 80%;
  max-width: 100%;
  height: auto;
  color: #34333f;
}

#bandName {
  background-color: #34333f;
  padding: 5px;
  color: #dfc46a;
  font-size: 40px;
  border: 2px solid #bf3d78;
}

#img-div {
  width: 75%;
  max-width: 100%;
  height: auto;
  background-color: #e2e9e3;
  border: 2px 0px 2px 2px solid #bf3d78;
  margin-bottom: 20px;
  text-align: center;
}

#image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 2px solid #bf3d78;
}

#img-caption {
  align-items: center;
  margin-bottom: 50px;
}

#bonScott {
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  text-align: center;
  color: #34333f;
}

#tribute-info {
  width: 75%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: justify;
  color: #34333f;
}
